<h1>Informazioni sul libro richiesto</h1>

<p>Di seguito i dati del libro richiesto:</p>
<table>
    <tbody>
    <tr>
        <th>Titolo</th>
        <td>{{ book.title }}</td>
    </tr>
    <tr>
        <th>Autore</th>
        <td>{{ book.author }}</td>
    </tr>
    <tr>
        <th>ISBN</th>
        <td>{{ book.isbn }}</td>
    </tr>
    <tr>
        <th>Descrizione</th>
        <td>{{ book.description }}</td>
    </tr>
    <tr>
        <th>Prezzo</th>
        <td>{{ book.price }}</td>
    </tr>
    </tbody>
</table>